.ef-responsive-video {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.ef-yt-description {
	white-space: pre-wrap;
}
.ef-yt-title {
	display: block;
}
.ef-yt-video-details {
	.ef-yt-title {
		font-weight: bold;
		margin: 1em 0;
	}
}
.ef-yt-item-list {
	.slick-slide {
		cursor: pointer;
		margin: 2px 0;

		img {
			width: 100%;
		}
	}
	.uk-overlay-panel {
		padding: 6px;

/*		@media(max-width: @breakpoint-small-max){
			color: inherit;
			position: static;
			padding: 0;
			margin-top: 3px;
			background: none;
		}*/
	}
	.ef-yt-title {
		font-size: 0.8em;
		line-height: 1.1em;
	}
/*	@media(max-width: @breakpoint-small-max){
		margin-left: -5px;
		figure {
			padding-left: 5px;
			box-sizing: border-box;
		}
	}*/
	.slick-dots {
		position: static;
		margin-top: 25px;

		li button::before {
			font-size: 10px;
			line-height: 24px;
			width: 24px;
			height: 24px;
		}
	}
	.slick-next:before, .slick-prev:before {
		color: #000;
		font-size: 17px;
	}
	.slick-prev {
		left: -20px;
	}
	.slick-next {
		right: -20px;
	}
}